.section__features {
    @media screen and ( min-width: $desktop-width ) {
        padding-bottom: 47px;
    }
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-list__item {
    width: 100%;

    @media screen and (min-width: $tablet-width ) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop-width ) {
        width: calc((100% - 90px) / 4);
    }
}

.features-list__card {
    display: flex;
    justify-content: center;
    padding: 25px 0;

    border-radius: 4px;
    margin-bottom: 30px;
    background: var(--secondary-background-color);
}

.features-list__icon {
    width: 70px;
    height: 70px;
}

.features-list__title {
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $tablet-width ) {
        text-align: start;
    }
}

.features-list__text {
    @include font(14px, inherit, 24px);
    color: var(--secondary-text-color);
}