.header {
    border-bottom: 1px solid var(--header-border-color);

    .container {
        display: flex;
        align-items: center;
        height: 76px;
    }
}

.logo_theme-light {
    
    @media screen and (min-width: $tablet ) {
        margin-right: 88px;
    }

    @media screen and (min-width: $desktop ) {
        margin-right: 93px;
    }
}