.header {
    border-bottom: 1px solid var(--header-border-color);
}

.header-container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px ) {
    padding: 10px 10px;
    }
}

.logo_theme-light {

    @media screen and (min-width: $tablet ) {
        margin-right: 88px;
    }

    @media screen and (min-width: $desktop ) {
        margin-right: 93px;
    }
}

.open-mobile-menu-btn {
    
    @media screen and (max-width: 767px) {
        padding: 0;
        border: none;
        background-color: var(--primary-background-color);
    }

    @media screen and (min-width: $tablet ) {
        display: none;
    }
}

.open-mobile__icon {
    display: block;
}