.hero {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bagraund-sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/bagraund-sm@2x.jpg);
        background-size: cover;
    }


    @media screen and ( min-width: $tablet ) {
        max-width: $tablet;
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bagraund-md.jpg);
        background-size: cover;
    }

    @media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bagraund-md@2x.jpg);
        background-size: cover;
    }

    @media screen and ( min-width: $desktop ) {
        max-width: $desktop;
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bagraund-lg.jpg);
        background-size: cover;
    }

    @media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bagraund-lg@2x.jpg);
        background-size: cover;
    }





    @media screen and (min-width: $desktop ) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }
    


    .container {
        text-align: center;
    }
}

.hero-title {
    max-width: 360px;
    margin: 0 auto 30px;
        @include font(26px, 900, 42px);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--text-white-color);

    @media screen and (min-width: $desktop ) {
        max-width: 696px;
        @include font(44px, 900, 60px);
    }

    
}