// .speciality {
//     padding-top: 47px;
// }

// .speciality-list {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
// }

// .speciality-list__item {
//     position: relative;
// }

// .speciality-list__text {
//     position: absolute;
//     bottom: 0;

//     width: 100%;
//     height: 70px;
//     padding: 27px 10px;
//     background-color: rgba(47, 48, 58, 0.8);

//     color: var(--text-white-color);
//     font-weight: 700;
//     text-align: center;
//     text-transform: uppercase;
// }