.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 450px;
    height: 609px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);

    transition: transform var(--tran-dur-and-tim-fun), visibility var(--tran-dur-and-tim-fun);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
        }

    @media screen and (min-width: $desktop ) {
        width: 528px;
        height: 581px;
    }


}

.modal-title {
    text-align: center;
    margin-bottom: 12px;
    @include font(20px, 700, 30px);

    @media screen and (min-width: $desktop ) {
        @include font(20px, 700, 23px);
            
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 4px;
    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    cursor: pointer;
}

.modal-input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    @include font(14px, 400, 16px);
    letter-spacing: 0.01em;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun);

    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
        }
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill var(--tran-dur-and-tim-fun);

    .form-input:focus + & {
         fill: var(--accent-color);
        }
}

.modal-textarea-comment {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include font(14px, 400, 16px);
    letter-spacing: 0.01em;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun);

    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
        }
}

.user-policy-checkbox-desc {
    position: relative;
    margin: 0 auto 30px;
    padding-left: 23px;
    @include font(12px, 400, 14px);
    cursor: pointer;
    color: var(--secondary-text-color);

    @media screen and (min-width: $desktop ) {
        @include font(14px, 400, 24px);
        
    }
}

.user-policy-checkbox-frame {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    background-color: var(--primary-background-color);
    cursor: pointer;
    outline: none;
    transition: border-color var(--tran-dur-and-tim-fun), background-color var(--tran-dur-and-tim-fun);

    .user-policy-checkbox-input:focus+label & {
        border-color: var(--accent-color);
        }
        
    .user-policy-checkbox-input:checked+label & {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        }
}

.user-policy-checkbox-icon {
    position: absolute;
    left: 1px;
    top: 2px;
    fill: var(--primary-background-color);
}

.user-policy-checkbox-link {
    @include font(12px, 400, 14px);
    color: var(--accent-color);

    @media screen and (min-width: $desktop ) {
        @include font(14px, 400, 24px);
    }
}

.button-primary__center {
    margin: 0 auto;
}

.btn-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-icon {
    fill: #000;
    transition: fill var(--tran-dur-and-tim-fun);

    .btn-modal-close:hover &,
    .btn-modal-close:focus & {
        fill: var(--accent-color);
    }
}
