.body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    @include font(36px, 700, 42px);
    @include font(28px, 700, 33px);
    margin-bottom: 30px;

    @media screen and (min-width: $desktop-width) {
        margin-bottom: 50px;
        @include font(36px, 700, 42px);
    }
}

