:root {
    --logo-font-family-text: 'Raleway', 'Ubuntu', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --logo-black-color: #000;
    --mail-tel-color: rgba(255, 255, 255, 0.6);
    --text-white-color: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --hero-background-color: #c4c4c4;
    --hero-img-overlay: rgba(47, 48, 58, 0.4);
    --button-hover-color: #188ce8;
    --filter-button-color: #f5f4fa;
    --header-border-color: #ececec;
    --works-cards-border-color: #eeeeee;
    --icon-primary-color: #afb1b8;
    --footer-link-bg-color: rgba(255, 255, 255, 0.1);
    --tran-dur-and-tim-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;